.container{
    background-color: rgba(245, 244, 245, 0.911);
    grid-row: 2 / -1;
    grid-column: 2 / -1;
    display: grid;
    grid-template-rows: 60rem 40rem;
    grid-template-columns: 1fr;
    padding: 1rem;
}
.streams{
    /* background-color: teal; */
    display: flex;
    position: relative;
    font-size: 4rem;
    flex-wrap: wrap;   
}
.stream{
    width:49%;
    height: 49%;
    /* border: 2px solid gray; */
    /* -webkit-clip-path: polygon(100% 0, 100% 100%, 9% 100%, 9% 91%, 0 91%, 0 0);
    clip-path: polygon(100% 0, 100% 100%, 9% 100%, 9% 91%, 0 91%, 0 0); */
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0.4rem;
    /* box-shadow: 4px 4px 5px rgb(163, 163, 163); */

}
.map{
    width:49%;
    height: auto;
    /* border: 2px solid gray; */
    /* -webkit-clip-path: polygon(100% 0, 100% 100%, 9% 100%, 9% 91%, 0 91%, 0 0);
    clip-path: polygon(100% 0, 100% 100%, 9% 100%, 9% 91%, 0 91%, 0 0); */
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    margin: 2rem 0.4rem;
    align-self: flex-end;
    
    border: 3px solid #21aa93;
    border-radius: 5px;
}
img {
    max-width: 100%;
    /* max-height: 100%; */
}

.controller{
    width: 100%;
    height: 100%;
    background-color: rgba(177, 175, 175, 0.466);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.streams:hover .controller{
    display:flex
    
}
.controller .play{
    background-image: url('../../images/play-button\ \(1\).png');
    background-color: transparent;
    background-size: cover;
    width: 15rem;
    height: 15rem;
    border: none;
    cursor: pointer;
}

.controller .pause{
    background-image: url('../../images/pause\ \(1\).png');
    background-color: transparent;
    background-size: cover;
    width: 15rem;
    height: 15rem;
    border: none;
    cursor: pointer;
}